.search_bar{
    height:100%;
    width:350px;
    background-color: #E7E7E7;
}

.search_head{
    background-color: rgba(206, 182, 128);
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.search_content{
    background-color: #E7E7E7;
    /* Firefox */
    height: -moz-calc(100% - 50px);
    /* WebKit */
    height: -webkit-calc(100% - 50px);
    /* Opera */
    height: -o-calc(100% - 50px);
    /* Standard */
    height: calc(100% - 50px);
    padding:12px;
    overflow-y:scroll;
    overflow-x:hidden;
    text-align: center;
}

.search_results{
    width:105%;
}

.ui.cards>.card{
    width:100%
}

.ui.loader {
    position:relative;
}

.info_head{
    width:100%;
    margin-top:2px;
    padding:2px;
    background-color:#565A5C;
    color:white;
    display:block;
}
