<!DOCTYPE html>
<html>

<head>

    {{ headers }}


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="js/randomColor.js"></script>
    <script src="js/common.js"></script>
    <script src="js/search.js"></script>

    <title>Search</title>
</head>

<body class="pushable">

    {{ navbar }}

    <div class="ui right sidebar" style="overflow-y:scroll;">
        <div class="search_head">
            <h2>Saved Courses</h2>
        </div>
        <br/>
        <div class="ui button" id="custom_button" onclick="showCreate()">
            Create Custom <i class="plus icon"></i>
        </div>
        <div id="save_display" class="ui middle aligned divided list">
            <div class="ui text loader">Loading saved sections...</div>
        </div>
        <div class="ui button" id="save_button">
            Save for Later <i class="save icon"></i>
        </div>
    </div>
    <div class="pusher">
        <div class="search_bar">
            <div class="search_head">
                <h2>Search Classes</h2>
            </div>
            <div class="search_content">
                <form class="ui form" action="javascript:void(0);" name="search_form">
                    <div class="field">
                        <input type="text" name="keyword" placeholder="Title, Subject, Instructor, or Keyword">
                    </div>
                    <div class="field">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="srcdb">
                            <div style="color:#000;" class="default text">Fall 2019</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="2197">
                                    Fall 2019
                                </div>
                                <div class="item" data-value="2194">
                                    Summer 2019
                                </div>
                                <div class="item" data-value="2191">
                                    Spring 2019
                                </div>
                                <div class="item" data-value="2187">
                                    Fall 2018
                                </div>
                                <div class="item" data-value="2184">
                                    Summer 2018
                                </div>
                                <div class="item" data-value="2181">
                                    Spring 2018
                                </div>
                                <div class="item" data-value="2177">
                                    Fall 2017
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="subject">
                            <div style="color:#000" class="default text">Any Subject</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="">Any Subject</div>
                                <div class="item" data-value="ACCT">Accounting (ACCT)</div>
                                <div class="item" data-value="APRD">Advertising, PR, Media Design (APRD)</div>
                                <div class="item" data-value="ASEN">Aerospace Engineering (ASEN)</div>
                                <div class="item" data-value="AIRR">Air Force Aerospace Studies (AIRR)</div>
                                <div class="item" data-value="ANTH">Anthropology (ANTH)</div>
                                <div class="item" data-value="APPM">Applied Math (APPM)</div>
                                <div class="item" data-value="ARAB">Arabic (ARAB)</div>
                                <div class="item" data-value="AREN">Architectural Engineering (AREN)</div>
                                <div class="item" data-value="ARCH">Architecture (ARCH)</div>
                                <div class="item" data-value="ARTF">Art Film Studies (ARTF)</div>
                                <div class="item" data-value="ARTH">Art History (ARTH)</div>
                                <div class="item" data-value="ARTS">Art Studio and Non-Studio (ARTS)</div>
                                <div class="item" data-value="ARSC">Arts & Sciences Courses (ARSC)</div>
                                <div class="item" data-value="ASIA">Asian Studies (ASIA)</div>
                                <div class="item" data-value="ASTR">Astrophysical & Planetary Sci (ASTR)</div>
                                <div class="item" data-value="ATLS">ATLAS (ATLS)</div>
                                <div class="item" data-value="ATOC">Atmospheric & Oceanic Sciences (ATOC)</div>
                                <div class="item" data-value="BASE">BCOR Applied Semester Exper (BASE)</div>
                                <div class="item" data-value="BMEN">Biomedical Engineering (BMEN)</div>
                                <div class="item" data-value="BADM">Business Administration (BADM)</div>
                                <div class="item" data-value="BCOR">Business Core (BCOR)</div>
                                <div class="item" data-value="BPOL">Business Environment & Policy (BPOL)</div>
                                <div class="item" data-value="BSLW">Business Law (BSLW)</div>
                                <div class="item" data-value="BUSM">Business Minor (BUSM)</div>
                                <div class="item" data-value="CSVC">Career Services (CSVC)</div>
                                <div class="item" data-value="CWCV">Center for Western Civilizatio (CWCV)</div>
                                <div class="item" data-value="CAMW">Center of the American West (CAMW)</div>
                                <div class="item" data-value="CEES">Central & East European Stdy (CEES)</div>
                                <div class="item" data-value="CHEN">Chemical Engineering (CHEN)</div>
                                <div class="item" data-value="CHEM">Chemistry (CHEM)</div>
                                <div class="item" data-value="CHIN">Chinese (CHIN)</div>
                                <div class="item" data-value="CVEN">Civil Engineering (CVEN)</div>
                                <div class="item" data-value="GREK">Classical Greek Language (GREK)</div>
                                <div class="item" data-value="CLAS">Classics (CLAS)</div>
                                <div class="item" data-value="COEN">Coll of Engineerng&App Sci Adm (COEN)</div>
                                <div class="item" data-value="CMCI">Coll of Media,Commncation,Info (CMCI)</div>
                                <div class="item" data-value="COMM">Communication (COMM)</div>
                                <div class="item" data-value="COMR">Communication Res Acad Prgm (COMR)</div>
                                <div class="item" data-value="COML">Comparative Literature (COML)</div>
                                <div class="item" data-value="CSCI">Computer Science (CSCI)</div>
                                <div class="item" data-value="CMDP">Critical Media Practices (CMDP)</div>
                                <div class="item" data-value="CESR">Curr Emphasis in Soc Respnsbly (CESR)</div>
                                <div class="item" data-value="DNCE">Dance (DNCE)</div>
                                <div class="item" data-value="DANE">Danish (DANE)</div>
                                <div class="item" data-value="DHUM">Digital Humanities (DHUM)</div>
                                <div class="item" data-value="EBIO">Ecology & Evolutionary Biology (EBIO)</div>
                                <div class="item" data-value="ECON">Economics (ECON)</div>
                                <div class="item" data-value="EDUC">Education (EDUC)</div>
                                <div class="item" data-value="ECEN">Electrical & Computer Engr (ECEN)</div>
                                <div class="item" data-value="ENEN">Energy Engineering (ENEN)</div>
                                <div class="item" data-value="EHON">Engineering Honors (EHON)</div>
                                <div class="item" data-value="ENLP">Engineering Leadership Program (ENLP)</div>
                                <div class="item" data-value="EMEN">Engineering Management (EMEN)</div>
                                <div class="item" data-value="ENGL">English (ENGL)</div>
                                <div class="item" data-value="ESLG">English as a Second Language (ESLG)</div>
                                <div class="item" data-value="ESBM">Entrepren & Small Bus Mgmt (ESBM)</div>
                                <div class="item" data-value="ENST">Environment and Sustainability (ENST)</div>
                                <div class="item" data-value="ENVD">Environmental Design (ENVD)</div>
                                <div class="item" data-value="EVEN">Environmental Engineering (EVEN)</div>
                                <div class="item" data-value="ENVS">Environmental Studies (ENVS)</div>
                                <div class="item" data-value="ETHN">Ethnic Studies (ETHN)</div>
                                <div class="item" data-value="TDXD">Experience Design (TDXD)</div>
                                <div class="item" data-value="FARR">Farrand Residential Acad Prgm (FARR)</div>
                                <div class="item" data-value="FRSI">Farsi (FRSI)</div>
                                <div class="item" data-value="FILM">Film Studies (FILM)</div>
                                <div class="item" data-value="FNCE">Finance (FNCE)</div>
                                <div class="item" data-value="FYXP">First Year Exploration (FYXP)</div>
                                <div class="item" data-value="FYSM">First Year Seminar (FYSM)</div>
                                <div class="item" data-value="FREN">French (FREN)</div>
                                <div class="item" data-value="GEEN">General Engineering (GEEN)</div>
                                <div class="item" data-value="GEOG">Geography (GEOG)</div>
                                <div class="item" data-value="GEOL">Geological Sciences (GEOL)</div>
                                <div class="item" data-value="GRMN">German (GRMN)</div>
                                <div class="item" data-value="GSLL">Germanic & Slavic Lang & Lit (GSLL)</div>
                                <div class="item" data-value="GRAD">Graduate School (GRAD)</div>
                                <div class="item" data-value="GRTE">Graduate Teacher Education (GRTE)</div>
                                <div class="item" data-value="HEBR">Hebrew (HEBR)</div>
                                <div class="item" data-value="HIND">Hindi/Urdu (HIND)</div>
                                <div class="item" data-value="HIST">History (HIST)</div>
                                <div class="item" data-value="HONR">Honors (HONR)</div>
                                <div class="item" data-value="HUMN">Humanities (HUMN)</div>
                                <div class="item" data-value="HUEN">Humanities for Engineers (HUEN)</div>
                                <div class="item" data-value="INDO">Indonesian (INDO)</div>
                                <div class="item" data-value="BAIM">Infm Mgmt/Business Analytics (BAIM)</div>
                                <div class="item" data-value="INFO">Information Science (INFO)</div>
                                <div class="item" data-value="IPHY">Integrative Physiology (IPHY)</div>
                                <div class="item" data-value="IMUS">Intensive Music (IMUS)</div>
                                <div class="item" data-value="IAFS">International Affairs (IAFS)</div>
                                <div class="item" data-value="INBU">International Business Cert (INBU)</div>
                                <div class="item" data-value="IAWP">Intrmedia Art,Wrtg,Performance (IAWP)</div>
                                <div class="item" data-value="INVS">INVST Community Studies (INVS)</div>
                                <div class="item" data-value="ITAL">Italian (ITAL)</div>
                                <div class="item" data-value="JPNS">Japanese (JPNS)</div>
                                <div class="item" data-value="JWST">Jewish Studies (JWST)</div>
                                <div class="item" data-value="JRNL">Journalism (JRNL)</div>
                                <div class="item" data-value="KREN">Korean (KREN)</div>
                                <div class="item" data-value="LGTC">Language Technology (LGTC)</div>
                                <div class="item" data-value="LATN">Latin Language (LATN)</div>
                                <div class="item" data-value="LAWS">Law School (LAWS)</div>
                                <div class="item" data-value="LEAD">Leadership Minor (LEAD)</div>
                                <div class="item" data-value="LGBT">Lesbn/Gay/Bisexual Stdys (LGBT)</div>
                                <div class="item" data-value="LIBB">Libby Residential Acad Prgm (LIBB)</div>
                                <div class="item" data-value="LING">Linguistics (LING)</div>
                                <div class="item" data-value="MGMT">Management (MGMT)</div>
                                <div class="item" data-value="MKTG">Marketing (MKTG)</div>
                                <div class="item" data-value="ENVM">Master of the Environment (ENVM)</div>
                                <div class="item" data-value="MSEN">Materials Science&Engineering (MSEN)</div>
                                <div class="item" data-value="MATH">Mathematics (MATH)</div>
                                <div class="item" data-value="MBAX">MBA Advanced Electives (MBAX)</div>
                                <div class="item" data-value="MBAC">MBA Core (MBAC)</div>
                                <div class="item" data-value="MCEN">Mechanical Engineering (MCEN)</div>
                                <div class="item" data-value="MDST">Media Studies (MDST)</div>
                                <div class="item" data-value="MEMS">Medieval & Early Modern Stdys (MEMS)</div>
                                <div class="item" data-value="MILR">Military Science (MILR)</div>
                                <div class="item" data-value="MCDB">Molecular Cell & Dev Biology (MCDB)</div>
                                <div class="item" data-value="MSBC">MS Business Core (MSBC)</div>
                                <div class="item" data-value="MSBX">MS Business Electives (MSBX)</div>
                                <div class="item" data-value="MUSM">Museum (MUSM)</div>
                                <div class="item" data-value="MUSC">Music (MUSC)</div>
                                <div class="item" data-value="MUEL">Music Electives (MUEL)</div>
                                <div class="item" data-value="EMUS">Music Ensemble (EMUS)</div>
                                <div class="item" data-value="NAVR">Naval Science (NAVR)</div>
                                <div class="item" data-value="NRSC">Neuroscience (NRSC)</div>
                                <div class="item" data-value="NRLN">Norlin Scholars (NRLN)</div>
                                <div class="item" data-value="OPIM">Operations & Information MGMT (OPIM)</div>
                                <div class="item" data-value="ORMG">Organization Management (ORMG)</div>
                                <div class="item" data-value="ORGN">Organizational Behavior (ORGN)</div>
                                <div class="item" data-value="ORGL">Organizational Leadership (ORGL)</div>
                                <div class="item" data-value="PACS">Peace & Conflict Studies (PACS)</div>
                                <div class="item" data-value="PMUS">Performance Music (PMUS)</div>
                                <div class="item" data-value="PHIL">Philosophy (PHIL)</div>
                                <div class="item" data-value="PHYS">Physics (PHYS)</div>
                                <div class="item" data-value="PSCI">Political Science (PSCI)</div>
                                <div class="item" data-value="PORT">Portuguese (PORT)</div>
                                <div class="item" data-value="PRLC">Presidents Leadership Class (PRLC)</div>
                                <div class="item" data-value="PSYC">Psychology (PSYC)</div>
                                <div class="item" data-value="REAL">Real Estate (REAL)</div>
                                <div class="item" data-value="RLST">Religious Studies (RLST)</div>
                                <div class="item" data-value="RUSS">Russian (RUSS)</div>
                                <div class="item" data-value="SCAN">Scandinavian (SCAN)</div>
                                <div class="item" data-value="SOCY">Sociology (SOCY)</div>
                                <div class="item" data-value="SPAN">Spanish (SPAN)</div>
                                <div class="item" data-value="SLHS">Speech, Language & Hearing Sci (SLHS)</div>
                                <div class="item" data-value="STAT">Statistics (STAT)</div>
                                <div class="item" data-value="SWED">Swedish (SWED)</div>
                                <div class="item" data-value="TLEN">Telecommunications (TLEN)</div>
                                <div class="item" data-value="THDN">Theater & Dance (THDN)</div>
                                <div class="item" data-value="THTR">Theatre (THTR)</div>
                                <div class="item" data-value="TMUS">Thesis Music (TMUS)</div>
                                <div class="item" data-value="WGST">Women and Gender Studies (WGST)</div>
                                <div class="item" data-value="WRTG">Writing and Rhetoric (WRTG)</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="camp">
                            <div style="color:#000" class="default text">Any Campus</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="">
                                    Any Campus
                                </div>
                                <div class="item" data-value="BLDR">
                                    Boulder Main Campus
                                </div>
                                <div class="item" data-value="CEPS">
                                    Boulder Continuing Education
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="career">
                            <div style="color:#000" class="default text">Any Career</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="">
                                    Any Career
                                </div>
                                <div class="item" data-value="GRAD">
                                    Graduate
                                </div>
                                <div class="item" data-value="LAW">
                                    Law
                                </div>
                                <div class="item" data-value="NOCR">
                                    Non-Credit
                                </div>
                                <div class="item" data-value="UGRD">
                                    Undergraduate
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="course_level">
                            <div style="color:#000" class="default text">Any Course Level</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="">
                                    Any Course Level
                                </div>
                                <div class="item" data-value="<3">
                                    Undergrad Lower Division
                                </div>
                                <div class="item" data-value="3::4">
                                    Undergrad Upper Division
                                </div>
                                <div class="item" data-value=">=5">
                                    Graduate
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="submit_search" class="ui dark grey button" type="submit">
                        <i class="search icon"></i>
                        Search
                    </button>
                    <button id="get_cart" class="ui black button" type="submit">
                        <i class="shopping cart icon"></i>
                        My Cart
                    </button>
                    <button id="reset_search" class="ui red button" type="reset" onclick="$('.search_content .ui.form').form('clear')">
                        <i class="undo icon"></i>
                        Reset Filters
                    </button>
                    <div class="ui accordion">
                        <div class="title">
                            <i class="icon dropdown"></i>
                            Advanced
                        </div>
                        <div class="content">
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="session">
                                    <div style="color:#000" class="default text">Any Session</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any Session</div>
                                        <div class="item" data-value="BAS">Boulder A Session/1st 5 Weeks</div>
                                        <div class="item" data-value="BGS">Boulder Augmester/3 Weeks</div>
                                        <div class="item" data-value="BBS">Boulder B Session/2nd 5 Weeks</div>
                                        <div class="item" data-value="BCS">Boulder C Session/8 Weeks</div>
                                        <div class="item" data-value="B41">Boulder Campus 4-Wk Session 1</div>
                                        <div class="item" data-value="B42">Boulder Campus 4-Wk Session 2</div>
                                        <div class="item" data-value="B51">Boulder Campus 5-Wk Session 1</div>
                                        <div class="item" data-value="B52">Boulder Campus 5-Wk Session 2</div>
                                        <div class="item" data-value="B53">Boulder Campus 5-Wk Session 3</div>
                                        <div class="item" data-value="B81">Boulder Campus 8-Wk Session 1</div>
                                        <div class="item" data-value="B82">Boulder Campus 8-Wk Session 2</div>
                                        <div class="item" data-value="BPS">Boulder Campus Pre-Semester</div>
                                        <div class="item" data-value="BVS">Boulder Campus Variable Sess</div>
                                        <div class="item" data-value="BD2">Boulder D (w/B Drop/Add Dates)</div>
                                        <div class="item" data-value="BD1">Boulder D Session/10 Weeks</div>
                                        <div class="item" data-value="BES">Boulder E Session/1st 5 Weeks</div>
                                        <div class="item" data-value="BFS">Boulder F Session/2nd 5 Weeks</div>
                                        <div class="item" data-value="B">Boulder Main Campus Semester</div>
                                        <div class="item" data-value="BAM">Boulder Maymester/3 Weeks</div>
                                        <div class="item" data-value="BS2">Boulder Sum Session-2nd 6 Wks</div>
                                        <div class="item" data-value="BWS">Boulder Winter Session</div>
                                        <div class="item" data-value="BET">CE Evening 10 Weeks</div>
                                        <div class="item" data-value="BEF">CE Evening Full Session</div>
                                        <div class="item" data-value="BSE">CE Extraordinary Special</div>
                                        <div class="item" data-value="BG2">CE Grad 2nd 7 weeks</div>
                                        <div class="item" data-value="BSO">CE Online Self Paced</div>
                                        <div class="item" data-value="BL4">CE Online TermBased 10 Weeks</div>
                                        <div class="item" data-value="BL3">CE Online TermBased Full Sess</div>
                                        <div class="item" data-value="BL1">CE Online TermBased Sess 1</div>
                                        <div class="item" data-value="BL2">CE Online TermBased Sess 2</div>
                                        <div class="item" data-value="BL5">CE Online TrmBsd Sum 8 Weeks</div>
                                        <div class="item" data-value="BCE">Cont Ed Extraordinary</div>
                                        <div class="item" data-value="BIT">Cont Ed IEC ESL Credit 10 Week</div>
                                        <div class="item" data-value="BM9">Cont Ed-Applied Music</div>
                                        <div class="item" data-value="BM1">Cont Ed-Evening MBA Session 1</div>
                                        <div class="item" data-value="BM2">Cont Ed-Evening MBA Session 2</div>
                                        <div class="item" data-value="BII">Cont-Ed Individ Instruction</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="stat">
                                    <div style="color:#000" class="default text">Open, Waitlisted, or Closed</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">
                                            Open, Waitlisted, or Closed
                                        </div>
                                        <div class="item" data-value="A,W">
                                            Open or Waitlist Available
                                        </div>
                                        <div class="item" data-value="A">
                                            Open Only
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="overlap">
                                    <div style="color:#000" class="default text">Any Meeting Time</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any Meeting Time</div>
                                        <div class="item" data-value="2020">MWF 9am-9:50am</div>
                                        <div class="item" data-value="2021">MWF 10am-10:50am</div>
                                        <div class="item" data-value="2057">MWF 11am-11:50am</div>
                                        <div class="item" data-value="2022">MWF 12pm-12:50pm</div>
                                        <div class="item" data-value="4668">MWF 8am-11:50am</div>
                                        <div class="item" data-value="4669">MWF 12pm-4:50pm</div>
                                        <div class="item" data-value="2019">MWF 1pm-1:50pm</div>
                                        <div class="item" data-value="2059">MWF 2pm-2:50pm</div>
                                        <div class="item" data-value="2096">MWF 3pm-3:50pm</div>
                                        <div class="item" data-value="2389">MWF 4pm-4:50pm</div>
                                        <div class="item" data-value="4671">MWF 5pm-10pm</div>
                                        <div class="item" data-value="4676">MWF Only</div>
                                        <div class="item" data-value="4662">MTWThF 7:30am-11:50am</div>
                                        <div class="item" data-value="4663">MTWThF 12pm-4:50pm</div>
                                        <div class="item" data-value="4664">MTWThF 5pm-11pm</div>
                                        <div class="item" data-value="4672">TTh 8am-11:50am</div>
                                        <div class="item" data-value="2024">TTh 8am-9:15am</div>
                                        <div class="item" data-value="2028">TTh 9:30am-10:45am</div>
                                        <div class="item" data-value="2025">TTh 11am-12:15pm</div>
                                        <div class="item" data-value="4673">TTh 12pm-4:50pm</div>
                                        <div class="item" data-value="2023">TTh 12:30pm-1:45pm</div>
                                        <div class="item" data-value="2043">TTh 2pm-3:15pm</div>
                                        <div class="item" data-value="2055">TTh 3:30pm-4:45pm</div>
                                        <div class="item" data-value="4674">TTh 5pm-10pm</div>
                                        <div class="item" data-value="4675">TuTh Only</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="asgened_8A">
                                    <div style="color:#000" class="default text">Any A&S GenEd Attributes (Fall 2018+)</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any A&S GenEd Attributes (Fall 2018+)</div>
                                        <div class="item" data-value="asgened_8A">A&S GenEd: Distribution-Arts & Humanities</div>
                                        <div class="item" data-value="asgened_8F">A&S GenEd: Foreign Language</div>
                                        <div class="item" data-value="asgened_8G">A&S GenEd: Diversity-Global Perspective</div>
                                        <div class="item" data-value="asgened_8L">A&S GenEd: Distribution-Natural Sci Lab</div>
                                        <div class="item" data-value="asgened_8U">A&S GenEd: Diversity-U.S. Perspective</div>
                                        <div class="item" data-value="asgened_8N">A&S GenEd: Distribution-Natural Sciences</div>
                                        <div class="item" data-value="asgened_8Q">A&S GenEd: Quantitative Reasoning & Math</div>
                                        <div class="item" data-value="asgened_8S">A&S GenEd: Distribution-Social Sciences</div>
                                        <div class="item" data-value="asgened_8WL">A&S GenEd: Written Communication-Lower</div>
                                        <div class="item" data-value="asgened_8WU">A&S GenEd: Written Communication-Upper</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="arsc_AH">
                                    <div style="color:#000" class="default text">Any A&S Core Attribute</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any A&S Core Attribute </div>
                                        <div class="item" data-value="arsc_AH">A&S Core: Historical Context</div>
                                        <div class="item" data-value="arsc_AD">A&S Core: Human Diversity</div>
                                        <div class="item" data-value="arsc_AU">A&S Core: United States Context</div>
                                        <div class="item" data-value="arsc_AL">A&S Core: Literature and the Arts</div>
                                        <div class="item" data-value="arsc_AS">A&S Core: Contemporary Societies</div>
                                        <div class="item" data-value="arsc_AI">A&S Core: Ideals & Values</div>
                                        <div class="item" data-value="arsc_AX">A&S Core: Natural Science Sequence</div>
                                        <div class="item" data-value="arsc_AZ">A&S Core: Natural Science Lab</div>
                                        <div class="item" data-value="arsc_AY">A&S Core: Natural Sci Non-Sequence</div>
                                        <div class="item" data-value="arsc_AF">A&S Core: Foreign Language</div>
                                        <div class="item" data-value="arsc_AQ">A&S Core: Quantitative Reasoning</div>
                                        <div class="item" data-value="arsc_AW">A&S Core: Written Communication</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="schd">
                                    <div style="color:#000" class="default text">Any Class Type</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any Class Type</div>
                                        <div class="item" data-value="CLN">Clinical</div>
                                        <div class="item" data-value="DSC">Discussion</div>
                                        <div class="item" data-value="DIS">Dissertation</div>
                                        <div class="item" data-value="FLD">Field Studies</div>
                                        <div class="item" data-value="IND">Independent Study</div>
                                        <div class="item" data-value="INT">Internship</div>
                                        <div class="item" data-value="LAB">Laboratory</div>
                                        <div class="item" data-value="LEC">Lecture</div>
                                        <div class="item" data-value="MLS">Main Lab Section</div>
                                        <div class="item" data-value="OTH">Other</div>
                                        <div class="item" data-value="PRA">Practicum</div>
                                        <div class="item" data-value="REC">Recitation</div>
                                        <div class="item" data-value="RSC">Research</div>
                                        <div class="item" data-value="SEM">Seminar</div>
                                        <div class="item" data-value="STU">Studio</div>
                                        <div class="item" data-value="WKS">Workshop</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="instmode">
                                    <div style="color:#000" class="default text">Any Instruction Mode</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any Instruction Mode</div>
                                        <div class="item" data-value="CD">Candidate for Degree</div>
                                        <div class="item" data-value="HN">Honors Thesis Courses</div>
                                        <div class="item" data-value="HY">Hybrid Online/Classroom</div>
                                        <div class="item" data-value="P">In Person</div>
                                        <div class="item" data-value="IS">Independent Study</div>
                                        <div class="item" data-value="OL">Online</div>
                                        <div class="item" data-value="OS">Online Self Paced</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui fluid selection dropdown">
                                    <input type="hidden" name="hours">
                                    <div style="color:#000" class="default text">Any Credit Hours</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="">Any Credit Hours</div>
                                        <div class="item" data-value="0">0 Hours</div>
                                        <div class="item" data-value="1">1 Hour</div>
                                        <div class="item" data-value="2">2 Hours</div>
                                        <div class="item" data-value="3">3 Hours</div>
                                        <div class="item" data-value="4">4 Hours</div>
                                        <div class="item" data-value="5">5 Hours</div>
                                        <div class="item" data-value="6+">6+ Hours</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="ui section divider"></div>
                <div class="search_results">
                    <div class="ui text loader">Getting Results...</div>
                    <div class="ui cards" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_view">
            <div class="ui button" id="sidebar_button">
                Saved Courses
                <i class="right arrow icon"></i>
            </div>
            <div class="ui top attached tabular menu" style="margin-top:0px;">
                <a class="active item" data-tab="first">Calendar View</a>
                <a class="item" data-tab="second">Map View (Beta)</a>
            </div>
            <div class="ui bottom attached active tab segment" data-tab="first" style="height:90%;">
                <table class="ui yellow celled table bpcalendar" id="fixedheight" style="height:100%;width:100%;">
                    <col width="10%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached tab segment" data-tab="second" style="height:90%;">
                <div id="cumap">

                </div>
            </div>
        </div>
    </div>
    <div class="ui modal login" style="width:35%;text-align:center;">
        <div class="header">Login to MyCUInfo</div>
        <div class="content">
            <form class="ui form" action="javascript:void(0);">
                <div class="ui input">
                    <input type="text" placeholder="CU Login Name">
                </div><br /><br />
                <div class="ui input">
                    <input type="password" placeholder="Identikey Password">
                </div>
                <br/>
                <a id="disclaimer_link" href="javascript:showDisclaimer()">What do we do with this information?</a>
                <br/>
                <div class="ui buttons">
                    <button class="ui cclose negative button">Cancel</button>
                    <div class="or"></div>
                    <button class="ui clogin positive button">Login</button>
                </div>
                <div class="disclaimer" style="display:none;">
                    <p>The simple answer is we need your Identikey information in order to view and add/remove classes from your cart in CU's system.
                        We <strong>do not</strong> store your username or password.
                        You can continue using the class search and calendar feature without giving up this information.</p>
                    <p>The longer answer is that we use your login information to get a session token to access your account.
                        This token is only used to access your cart, and doesn't give us access to anything else in MyCUInfo or anywhere else.
                        The token expires after 2 hours, so if you don't use our site within that time frame you will have to resubmit your credentials.
                        We do store your token in our databse so that if you come back while the token is still valid, you don't have to enter your credentials again.
                        Again, you can continue using the class search and calendar feature without giving us your credentials, but you won't have access to your cart features.</p>
                </div>
            </form>
            <div class="ui inverted segment" style="text-align:center;display:none;">
                <div class="ui text inline active loader">Getting Token...</div>
            </div>
        </div>
    </div>
    <div class="ui modal google" style="width:35%;text-align:center;">
        <div class="header">Login to BuffPlanner</div>
        <div class="content">
            You'll need to login with us before continuing.<br />
            <div class="ui blue button" onclick="handleLogin()">Login</div>
        </div>
    </div>
    <div class="ui modal create" style="width:50%;text-align:center;">
        <div class="header">Custom Event</div>
        <div class="content">
            <div class="ui input">
                <input type="text" placeholder="Title" id="custom_title" maxlength=12>
            </div>
            <div class="ui calendar" id="start_time">
                <div class="ui input left icon">
                    <i class="time icon"></i>
                    <input type="text" placeholder="Start Time">
                </div>
            </div>
            <div class="ui calendar" id="end_time">
                <div class="ui input left icon">
                    <i class="time icon"></i>
                    <input type="text" placeholder="End Time">
                </div>
            </div>
            <div class="ui five column center aligned stackable divided grid segment" id="custom_days">
                <div class="column">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Monday</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Tuesday</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Wednesday</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Thursday</label>
                    </div>
                </div>
                <div class="column">
                    <div class="ui checkbox">
                        <input type="checkbox">
                        <label>Friday</label>
                    </div>
                </div>
            </div>
            <button class="ui disabled negative button cdel">Delete</button>
            <div class="ui buttons">
                <button class="ui negative button ccan">Cancel</button>
                <div class="or"></div>
                <button class="ui positive button csav">Save</button>
            </div>
        </div>
    </div>
</body>

</html>
