<!DOCTYPE html>
<html>

<head>

    {{ headers }}

    <title>Contact</title>
</head>

<body class="pushable">

    {{ navbar }}

    <div class="ui grid">
        <div class="five wide column"></div>
        <div class="six wide column">
            <div>
                <div id="main_header">Contact</div>
                <br/>
                <p>Questions, comments, or concerns? Feel free to check out the source code over at
                    <a target="_blank" href="https://github.com/KyleRosenberg/CourseScheduler">our GitHub repo</a>,
                    follow us on twitter <a target="_blank" href="https://twitter.com/BuffPlanner">@BuffPlanner</a>,
                    or send an email my way at <a href="mailto:kyle@buffplanner.com">kyle@buffplanner.com</a>.</p>
            </div>
        </div>
        <div class="five wide column">
        </div>
    </div>

    <img class="footer_image" src="https://i.imgur.com/L1fGauH.png"/>
</body>

</html>
