<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/accordion.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/dropdown.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/calendar.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/accordion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/dropdown.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.2/dist/components/calendar.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-auth.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAf2uWNRmjB0Z5BYTgEdp8Y7xCPlMFFwc8",
        authDomain: "coursescheduler-6ac6e.firebaseapp.com",
        projectId: "coursescheduler-6ac6e"
    };
    firebase.initializeApp(config);
</script>
<script src="js/init.js"></script>
