<!DOCTYPE html>
<html>

<head>

    {{ headers }}

    <title>Home</title>
</head>

<body class="pushable">

    {{ navbar }}

    <div class="landing">
        <div class="welcome">
            <h1 class="title_text">
                TAKE CONTROL OF YOUR SCHEDULE
            </h1>
            <br/>
            <p class="info_text">
                BuffPlanner is here to help you save time by streamlining the class picking process.
            </p>
            <br/>
            <br/>
            <div class="landing_actions">
                <button class="ui yellow button" onclick="window.location='/search'">
                    Start Planning - It's Free!
                </button>
                <br/>
                <br/>
                <a href="#">Or click here for our Quick Start Guide</a>
            </div>
        </div>
        <div class="feature_sect">
            <img src="images/cal.jpg"/>
        </div>
    </div>
    <br/>
    <div class="continuation">
        <div class="ui basic segment">
            <div class="feature_left finfo">
                <h2>Search the CU Course Catalog</h2>
                <p>BuffPlanner pulls data directly from the CU Boulder Course Catalog, so your results are always up to date and accurate.
                    Our class search has all the features you are familiar with in an easier to use format.
                </p>
            </div>
            <div class="feature_right ficon">
                <i class="search icon"></i>
            </div>
        </div>
        <div class="ui basic segment">
            <div class="feature_right finfo">
                <h2>Access Your Cart</h2>
                <p>We integrate directly with MyCUInfo so you can do all your course scheduling in one place.
                    Linking your IdentiKey allows you to add to and remove classes from your MyCUInfo cart without having to leave BuffPlanner.
                </p>
            </div>
            <div class="feature_left ficon">
                <i class="shopping cart icon"></i>
            </div>
        </div>
        <div class="ui basic segment">
            <div class="feature_left finfo">
                <h2>See Your Schedule as You Build It</h2>
                <p>BuffPlanner makes it easy to assemble a schedule that works for you.
                    Our built-in calendar helps you visualize what your schedule will look like so you can build it around your lifestyle.</p>
            </div>
            <div class="feature_right ficon">
                <i class="calendar alternate outline icon"></i>
            </div>
        </div>
        <div class="ui basic segment" style="width:100%;text-align:center;">
            <h2>Plan your perfect schedule today</h2>
            <br/>
            <button class="ui large yellow button" onclick="window.location='/search'">
                Get Started - It's Free!
            </button>
        </div>
    </div>
</body>

</html>
