<div class="ui inverted menu">
    <div class="ui dropdown item">
        BuffPlanner
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="/">
                Home
            </a>
            <a class="item" href="/search">
                Search
            </a>
            <a class="item" href="/help">
                Help
            </a>
        </div>
    </div>
    <div class="ui dropdown item">
        Links
        <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item" href="https://mycuinfo.colorado.edu" target="_blank">
                MyCUInfo
            </a>
            <a class="item" href="https://portal.prod.cu.edu/psp/epprod/UCB2/HRMS/c/SA_LEARNER_SERVICES.SSR_SSENRL_CART.GBL?Page=SSR_SSENRL_CART" target="_blank">
                Enrollment
            </a>
        </div>
    </div>
    <div class="right menu">
        <div id="name" class="item"></div>
        <a id="login" class="item">Log In</a>
    </div>
</div>
